html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.8rem; }

h1, h2, h3 {
  text-align: center; }

span {
  font-size: 2rem; }

/* estilo del header */
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center; }

.header .logo {
  height: 15rem;
  width: 20rem; }

/* estilo del navegador */
.nav-principal {
  background-color: #0097a7; }
  .nav-principal ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25rem;
    align-items: center;
    margin-bottom: 2rem;
    list-style: none; }
  .nav-principal a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem; }
  .nav-principal a:hover {
    background-color: #ffc107;
    color: #212121;
    border-radius: 8rem; }

@media (min-width: 576px) {
  .nav-principal ul {
    flex-direction: row;
    justify-content: space-evenly;
    height: 6rem; } }

/* estilo inicio */
.cuerpo {
  height: 70rem;
  max-width: 140rem;
  margin: 0 auto;
  margin-bottom: 2rem; }

.cuerpo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-image: url(../img/background.jpg);
  border-radius: 1rem; }
  .cuerpo-container h2 {
    margin: 2rem;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem; }

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem; }

/* estilo servicios */
.servicios {
  max-width: 140rem;
  margin: 0 auto;
  margin-bottom: 2rem; }

.servicios-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background-color: #e1ecf2;
  border-radius: 1rem;
  padding: 2rem; }

.icono {
  height: 15rem;
  width: 15rem;
  background-color: #ffc107;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem; }
  .icono img {
    height: 10rem;
    width: 10rem; }

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem; }
  .servicio h3 {
    color: #0097a7;
    font-weight: bold; }
  .servicio p {
    line-height: 3rem;
    text-align: justify;
    color: #212121; }
  .servicio li {
    line-height: 3rem;
    text-align: center;
    list-style: none;
    color: #212121; }

@media (min-width: 768px) {
  .servicios-container {
    display: grid;
    grid: 70rem/repeat(3, 1fr);
    column-gap: 5rem; } }

/* estilo nosotros */
.nosotros {
  height: 70rem;
  max-width: 140rem;
  margin: 0 auto;
  margin-bottom: 2rem; }

.nosotros-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/nosotros.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 1rem;
  padding: 2rem; }
  .nosotros-container h2 {
    color: #ffffff; }

@media (max-width: 576px) {
  .nosotros {
    height: 105rem; } }

/* ESTILO PRODUCTOS */
#tarjeta {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }

.card img:hover {
  transform: scale(1.2);
  transition: transform .3s; }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.card-text {
  list-style-type: none; }

.btn-primary {
  background-color: #0097a7; }

/* ESTILO CONTACTO */
.formulario {
  background-color: #757575;
  width: MIN(50rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem; }
  .formulario legend {
    text-align: center;
    font: size 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffc107; }
  .formulario p {
    color: #ffffff;
    font-weight: bold; }

.form-camp {
  margin-bottom: 1rem; }
  .form-camp label {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block; }
  .form-camp textarea {
    height: 18rem; }
